/* version 1.2.3 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Common tables styling and structure
  1.1 Default table style
  1.2 Table Sorter style
2.0 jQuery UI Tabs styling and structure
3.0 Material tables styling and structure
  3.1 Material Red
  3.2 Material Pink
  3.3 Material Purple
  3.4 Material Deep Purple
  3.5 Material Indigo
  3.6 Material Blue
  3.7 Material Light Blue
  3.8 Material Cyan
  3.9 Material Teal
  3.10 Material Green
  3.11 Material Light Green
  3.12 Material Lime
  3.13 Material Yellow
  3.14 Material Amber
  3.15 Material Orange
  3.16 Material Deep Orange
  3.17 Material Brown
  3.18 Material Grey
  3.19 Material Blue Grey
4.0 Flat schedule tables styling and structure
  4.1 Flat Green
  4.2 Flat Red
  4.3 Flat Pink
  4.4 Flat Purple
  4.5 Flat Dark Blue
  4.6 Flat Light Blue
  4.7 Flat Yellow
  4.8 Flat Orange
  4.9 Flat Gray
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Common tables styling and structure
--------------------------------------------------------------*/

.lptw-advanced-table .htLeft {
    text-align: left;
}
.lptw-advanced-table .htCenter {
    text-align: center;
}
.lptw-advanced-table .htRight {
    text-align: right;
}
.htJustify {
    text-align: justify;
}
.lptw-advanced-table .htTop {
    vertical-align: top;
}
.lptw-advanced-table .htMiddle {
    vertical-align: middle;
}
.lptw-advanced-table .htBottom {
    vertical-align: bottom;
}
/* 1.1 Default table style */

.lptw-advanced-table .default {
    border-collapse: collapse;
    margin: 2em 0;
    font-size: 16px;
    /* reset font size */

    background-color: #f0f0f0;
}
.lptw-advanced-table .default th {
    color: #757575;
    font-weight: normal;
    padding: 1em;
    border: 1px solid #dddddd;
    font-size: 0.75em;
    background-color: #eaeaea;
    /* color # 900 */

    font-weight: 600;
}
.lptw-advanced-table .default td {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 1em;
    color: #212121;
    font-size: 0.75em;
}
.lptw-advanced-table .default tr:nth-child(2n) {
    background-color: #fafafa;
}
.lptw-advanced-table .default td:hover {
    background-color: #dddddd;
    /* color # 500 */

    color: #111111;
}
.lptw-advanced-table .default tr:hover {
    border-top: 1px solid #f9f9f9;
    /* color # 200 */

    border-bottom: 1px solid #f9f9f9;
    /* color # 200 */

    background-color: #eaeaea;
    /* color # 100 */

    color: #222222;
}
/* 1.2 Table Sorter style */

#lptw-table-sorter thead tr .header {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
#lptw-table-sorter thead tr .headerSortUp {
    background-image: url('../img/asc.png');
}
#lptw-table-sorter thead tr .headerSortDown {
    background-image: url('../img/desc.png');
}
/*--------------------------------------------------------------
2.0 jQuery UI Tabs styling
--------------------------------------------------------------*/

#lptw-tabs-wrapper a {
    outline: none;
}
#lptw-tabs-wrapper .ui-tabs {
    position: relative;
    /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

    padding: .2em;
}
#lptw-tabs-wrapper .ui-corner-all {
    border-radius: 0;
}
#lptw-tabs-wrapper .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}
#lptw-tabs-wrapper .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0 0 1px 0;
    white-space: nowrap;
}
/* tabs header styling */

#lptw-tabs-wrapper .ui-widget-header {
    overflow: hidden;
}
/* tabs panel styling */

#lptw-tabs-wrapper .ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    background: none;
}
/* first tab styling */

#lptw-tabs-wrapper .ui-tabs-nav li:first-child {
    border-left: 1px solid #d8d8d8;
    border-radius: 3px 0 0 3px;
}
/* last tab styling */

#lptw-tabs-wrapper .ui-tabs-nav li:last-child {
    border-right: 1px solid #d8d8d8;
    border-radius: 0 3px 3px 0;
}
/* all default and not active tab styling */

#lptw-tabs-wrapper .ui-widget-header .ui-state-default {
    background: none;
    border: none;
    background-color: #ffffff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
#lptw-tabs-wrapper .ui-tabs-nav a {
    color: #a1a1a1;
}
#lptw-tabs-wrapper .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}
/* all active tab styling */

#lptw-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 1px;
    background-color: #ededed;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
#lptw-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    color: #2a2d33;
}
#lptw-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, #lptw-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, #lptw-tabs-wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}
#lptw-tabs-wrapper .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}
/* 1.2 Responsive tabs styles - accordion */

#lptw-tabs-wrapper .r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}
#lptw-tabs-wrapper .r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}
#lptw-tabs-wrapper .r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}
#lptw-tabs-wrapper .r-tabs .r-tabs-accordion-title {
    display: none;
}
#lptw-tabs-wrapper .r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}
/* Accordion responsive breakpoint */

@media only screen and (max-width: 768px) {
    #lptw-tabs-wrapper .r-tabs {
        border: 1px solid #d8d8d8;
        padding: 0;
        border-radius: 3px;
        margin: 1em 0;
    }
    #lptw-tabs-wrapper .r-tabs .r-tabs-nav {
        display: none;
    }
    #lptw-tabs-wrapper .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    /* Accordion anchor */

    #lptw-tabs-wrapper .r-tabs-accordion-title .r-tabs-anchor {
        display: block;
        padding: 0.5em 1em;
        background-color: #f9f9f9;
        color: #616161;
        text-decoration: none;
        border-radius: 0;
    }
    #lptw-tabs-wrapper .r-tabs-state-active .r-tabs-anchor {
        background-color: #ededed;
        color: #2a2d33;
    }
    #lptw-tabs-wrapper .r-tabs-panel.r-tabs-state-active {
        background-color: #ffffff;
    }
}
/*--------------------------------------------------------------
 * 3.0 Material tables styling and structure
 --------------------------------------------------------------*/

.table-material table {
    border-collapse: collapse;
    margin: 2em 0;
    font-size: 16px;
    /* reset font size */

    background-color: #f6f6f6;
}
.table-material th {
    font-weight: normal;
    padding: 1em;
    border: 1px solid #ececec;
    font-size: 0.75em;
    font-weight: 600;
}
.table-material td {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    padding: 1em;
    font-size: 0.75em;
}
.table-material tr:nth-child(2n) {
    background-color: #fcfcfc;
}
.table-material td.totals {
    font-weight: 600;
    text-align: right;
}
.table-material tr.totals-caption {
    font-weight: 600;
    background-color: #ffffff;
    text-align: left;
    text-transform: uppercase;
}
/* 3.1 Material Red */

.lptw-advanced-table .material-red th {
    color: #fbfbfb;
    background-color: #B71C1C;
    /* color # 900 */
}
.lptw-advanced-table .material-red td {
    color: #333333;
}
.lptw-advanced-table .material-red td:hover {
    color: #ffffff;
    background-color: #F44336;
    /* color # 500 */
}
.lptw-advanced-table .material-red tr:hover {
    color: #333333;
    border-top: 1px solid #EF9A9A;
    /* color # 200 */

    border-bottom: 1px solid #EF9A9A;
    /* color # 200 */

    background-color: #FFCDD2;
    /* color # 100 */
}
/* 3.2 Material Pink */

.lptw-advanced-table .material-pink th {
    color: #fbfbfb;
    background-color: #880E4F;
    /* color # 900 */
}
.lptw-advanced-table .material-pink td {
    color: #333333;
}
.lptw-advanced-table .material-pink td:hover {
    color: #ffffff;
    background-color: #E91E63;
    /* color # 500 */
}
.lptw-advanced-table .material-pink tr:hover {
    color: #333333;
    border-top: 1px solid #F48FB1;
    /* color # 200 */

    border-bottom: 1px solid #F48FB1;
    /* color # 200 */

    background-color: #F8BBD0;
    /* color # 100 */
}
/* 3.3 Material Purple */

.lptw-advanced-table .material-purple th {
    color: #fbfbfb;
    background-color: #4A148C;
    /* color # 900 */
}
.lptw-advanced-table .material-purple td {
    color: #333333;
}
.lptw-advanced-table .material-purple td:hover {
    color: #ffffff;
    background-color: #9C27B0;
    /* color # 500 */
}
.lptw-advanced-table .material-purple tr:hover {
    color: #333333;
    border-top: 1px solid #CE93D8;
    /* color # 200 */

    border-bottom: 1px solid #CE93D8;
    /* color # 200 */

    background-color: #E1BEE7;
    /* color # 100 */
}
/* 3.4 Material Deep Purple */

.lptw-advanced-table .material-deep-purple th {
    color: #fbfbfb;
    background-color: #311B92;
    /* color # 900 */
}
.lptw-advanced-table .material-deep-purple td {
    color: #333333;
}
.lptw-advanced-table .material-deep-purple td:hover {
    color: #ffffff;
    background-color: #673AB7;
    /* color # 500 */
}
.lptw-advanced-table .material-deep-purple tr:hover {
    color: #333333;
    border-top: 1px solid #B39DDB;
    /* color # 200 */

    border-bottom: 1px solid #B39DDB;
    /* color # 200 */

    background-color: #D1C4E9;
    /* color # 100 */
}
/* 3.5 Material Indigo */

.lptw-advanced-table .material-indigo th {
    color: #fbfbfb;
    background-color: #1A237E;
    /* color # 900 */
}
.lptw-advanced-table .material-indigo td {
    color: #333333;
}
.lptw-advanced-table .material-indigo td:hover {
    color: #ffffff;
    background-color: #3F51B5;
    /* color # 500 */
}
.lptw-advanced-table .material-indigo tr:hover {
    color: #333333;
    border-top: 1px solid #9FA8DA;
    /* color # 200 */

    border-bottom: 1px solid #9FA8DA;
    /* color # 200 */

    background-color: #C5CAE9;
    /* color # 100 */
}
/* 3.6 Material Blue */

.lptw-advanced-table .material-blue th {
    color: #fbfbfb;
    background-color: #0D47A1;
    /* color # 900 */
}
.lptw-advanced-table .material-blue td {
    color: #333333;
}
.lptw-advanced-table .material-blue td:hover {
    color: #ffffff;
    background-color: #2196F3;
    /* color # 500 */
}
.lptw-advanced-table .material-blue tr:hover {
    color: #333333;
    border-top: 1px solid #90CAF9;
    /* color # 200 */

    border-bottom: 1px solid #90CAF9;
    /* color # 200 */

    background-color: #BBDEFB;
    /* color # 100 */
}
/* 3.7 Material Light Blue */

.lptw-advanced-table .material-light-blue th {
    color: #fbfbfb;
    font-weight: normal;
    padding: 1em;
    border: 1px solid #ececec;
    font-size: 0.75em;
    background-color: #01579B;
    /* color # 900 */

    font-weight: 600;
}
.lptw-advanced-table .material-light-blue td {
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    padding: 1em;
    color: #333333;
    font-size: 0.75em;
}
.lptw-advanced-table .material-light-blue tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.lptw-advanced-table .material-light-blue td:hover {
    background-color: #03A9F4;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-light-blue tr:hover {
    color: #333333;
    border-top: 1px solid #81D4FA;
    /* color # 200 */

    border-bottom: 1px solid #81D4FA;
    /* color # 200 */

    background-color: #B3E5FC;
    /* color # 100 */
}
/* 3.8 Material Cyan */

.lptw-advanced-table .material-cyan th {
    color: #fbfbfb;
    background-color: #006064;
    /* color # 900 */
}
.lptw-advanced-table .material-cyan td {
    color: #333333;
}
.lptw-advanced-table .material-cyan td:hover {
    color: #ffffff;
    background-color: #00BCD4;
    /* color # 500 */
}
.lptw-advanced-table .material-cyan tr:hover {
    border-top: 1px solid #80DEEA;
    /* color # 200 */

    border-bottom: 1px solid #80DEEA;
    /* color # 200 */

    background-color: #B2EBF2;
    /* color # 100 */

    color: #333333;
}
/* 3.9 Material Teal */

.lptw-advanced-table .material-teal th {
    color: #fbfbfb;
    background-color: #004D40;
    /* color # 900 */
}
.lptw-advanced-table .material-teal td {
    color: #333333;
}
.lptw-advanced-table .material-teal td:hover {
    background-color: #009688;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-teal tr:hover {
    border-top: 1px solid #80CBC4;
    /* color # 200 */

    border-bottom: 1px solid #80CBC4;
    /* color # 200 */

    background-color: #B2DFDB;
    /* color # 100 */

    color: #333333;
}
/* 3.10 Material Green */

.lptw-advanced-table .material-green th {
    color: #fbfbfb;
    background-color: #1B5E20;
    /* color # 900 */
}
.lptw-advanced-table .material-green td {
    color: #333333;
}
.lptw-advanced-table .material-green tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.lptw-advanced-table .material-green td:hover {
    background-color: #4CAF50;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-green tr:hover {
    border-top: 1px solid #A5D6A7;
    /* color # 200 */

    border-bottom: 1px solid #A5D6A7;
    /* color # 200 */

    background-color: #C8E6C9;
    /* color # 100 */

    color: #333333;
}
/* 3.11 Material Light Green */

.lptw-advanced-table .material-light-green th {
    color: #fbfbfb;
    background-color: #33691E;
    /* color # 900 */
}
.lptw-advanced-table .material-light-green td {
    color: #333333;
}
.lptw-advanced-table .material-light-green tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.lptw-advanced-table .material-light-green td:hover {
    background-color: #8BC34A;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-light-green tr:hover {
    border-top: 1px solid #C5E1A5;
    /* color # 200 */

    border-bottom: 1px solid #C5E1A5;
    /* color # 200 */

    background-color: #DCEDC8;
    /* color # 100 */

    color: #333333;
}
/* 3.12 Material Lime */

.lptw-advanced-table .material-lime th {
    color: #fbfbfb;
    background-color: #827717;
    /* color # 900 */
}
.lptw-advanced-table .material-lime td {
    color: #333333;
}
.lptw-advanced-table .material-lime tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.lptw-advanced-table .material-lime td:hover {
    background-color: #CDDC39;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-lime tr:hover {
    border-top: 1px solid #E6EE9C;
    /* color # 200 */

    border-bottom: 1px solid #E6EE9C;
    /* color # 200 */

    background-color: #F0F4C3;
    /* color # 100 */

    color: #333333;
}
/* 3.13 Material Yellow */

.lptw-advanced-table .material-yellow th {
    color: #fbfbfb;
    background-color: #F57F17;
    /* color # 900 */
}
.lptw-advanced-table .material-yellow td {
    color: #333333;
}
.lptw-advanced-table .material-yellow td:hover {
    background-color: #FFEB3B;
    /* color # 500 */

    color: #272409;
}
.lptw-advanced-table .material-yellow tr:hover {
    border-top: 1px solid #FFF59D;
    /* color # 200 */

    border-bottom: 1px solid #FFF59D;
    /* color # 200 */

    background-color: #FFF9C4;
    /* color # 100 */

    color: #333333;
}
/* 3.14 Material Amber */

.lptw-advanced-table .material-amber th {
    color: #fbfbfb;
    background-color: #FF6F00;
    /* color # 900 */
}
.lptw-advanced-table .material-amber td {
    color: #333333;
}
.lptw-advanced-table .material-amber td:hover {
    background-color: #FFC107;
    /* color # 500 */

    color: #272409;
}
.lptw-advanced-table .material-amber tr:hover {
    border-top: 1px solid #FFE082;
    /* color # 200 */

    border-bottom: 1px solid #FFE082;
    /* color # 200 */

    background-color: #FFECB3;
    /* color # 100 */

    color: #333333;
}
/* 3.15 Material Orange */

.lptw-advanced-table .material-orange th {
    color: #fbfbfb;
    background-color: #E65100;
    /* color # 900 */
}
.lptw-advanced-table .material-orange td {
    color: #333333;
}
.lptw-advanced-table .material-orange td:hover {
    background-color: #FF9800;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-orange tr:hover {
    border-top: 1px solid #FFCC80;
    /* color # 200 */

    border-bottom: 1px solid #FFCC80;
    /* color # 200 */

    background-color: #FFE0B2;
    /* color # 100 */

    color: #333333;
}
/* 3.16 Material Deep Orange */

.lptw-advanced-table .material-deep-orange th {
    color: #fbfbfb;
    background-color: #BF360C;
    /* color # 900 */
}
.lptw-advanced-table .material-deep-orange td {
    color: #333333;
}
.lptw-advanced-table .material-deep-orange td:hover {
    background-color: #FF5722;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-deep-orange tr:hover {
    border-top: 1px solid #FFAB91;
    /* color # 200 */

    border-bottom: 1px solid #FFAB91;
    /* color # 200 */

    background-color: #FFCCBC;
    /* color # 100 */

    color: #333333;
}
/* 3.17 Material Brown */

.lptw-advanced-table .material-brown th {
    color: #fbfbfb;
    background-color: #3E2723;
    /* color # 900 */
}
.lptw-advanced-table .material-brown td {
    color: #333333;
}
.lptw-advanced-table .material-brown td:hover {
    background-color: #795548;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-brown tr:hover {
    border-top: 1px solid #BCAAA4;
    /* color # 200 */

    border-bottom: 1px solid #BCAAA4;
    /* color # 200 */

    background-color: #D7CCC8;
    /* color # 100 */

    color: #333333;
}
/* 3.18 Material Grey */

.lptw-advanced-table .material-grey th {
    color: #fbfbfb;
    background-color: #212121;
    /* color # 900 */
}
.lptw-advanced-table .material-grey td {
    color: #333333;
}
.lptw-advanced-table .material-grey td:hover {
    background-color: #9E9E9E;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-grey tr:hover {
    border-top: 1px solid #EEEEEE;
    /* color # 200 */

    border-bottom: 1px solid #EEEEEE;
    /* color # 200 */

    background-color: #F5F5F5;
    /* color # 100 */

    color: #333333;
}
/* 3.19 Material Blue Grey */

.lptw-advanced-table .material-blue-grey th {
    color: #fbfbfb;
    background-color: #263238;
    /* color # 900 */
}
.lptw-advanced-table .material-blue-grey td {
    color: #333333;
}
.lptw-advanced-table .material-blue-grey tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.lptw-advanced-table .material-blue-grey td:hover {
    background-color: #607D8B;
    /* color # 500 */

    color: #ffffff;
}
.lptw-advanced-table .material-blue-grey tr:hover {
    border-top: 1px solid #B0BEC5;
    /* color # 200 */

    border-bottom: 1px solid #B0BEC5;
    /* color # 200 */

    background-color: #CFD8DC;
    /* color # 100 */

    color: #333333;
}
/*--------------------------------------------------------------
 * 4.0 Flat schedule tables styling and structure
 --------------------------------------------------------------*/

.table-schedule table {
    border-collapse: collapse;
    margin: 2em 0;
    font-size: 16px;
    /* reset font size */

    background-color: #f8f8f8;
}
.table-schedule th {
    font-weight: normal;
    padding: 1em;
    border: 2px solid #ffffff;
    font-size: 0.75em;
    font-weight: 600;
}
.table-schedule td {
    border: 2px solid #ffffff;
    padding: 1em;
    font-size: 0.75em;
}
.table-schedule tr:nth-child(2n) {
    background-color: #ffffff;
}
/* 4.1 Flat Green */

.lptw-advanced-table .schedule-flat-green th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-green td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-green td.content {
    color: #fafafa;
    background-color: #26a65b;
}
.lptw-advanced-table .schedule-flat-green td.content:hover {
    background-color: #26c281;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-green tr:hover {
    background-color: #d0d0d0;
}
/* 4.2 Flat Red */

.lptw-advanced-table .schedule-flat-red th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-red td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-red td.content {
    color: #fafafa;
    background-color: #c3272b;
}
.lptw-advanced-table .schedule-flat-red td.content:hover {
    background-color: #dc3023;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-red tr:hover {
    background-color: #d0d0d0;
}
/* 4.3 Flat Pink */

.lptw-advanced-table .schedule-flat-pink th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-pink td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-pink td.content {
    color: #fafafa;
    background-color: #c93756;
}
.lptw-advanced-table .schedule-flat-pink td.content:hover {
    background-color: #f62459;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-pink tr:hover {
    background-color: #d0d0d0;
}
/* 4.4 Flat Purple */

.lptw-advanced-table .schedule-flat-purple th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-purple td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-purple td.content {
    color: #fafafa;
    background-color: #9b59b6;
}
.lptw-advanced-table .schedule-flat-purple td.content:hover {
    background-color: #bf55bc;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-purple tr:hover {
    background-color: #d0d0d0;
}
/* 4.5 Flat Dark Blue */

.lptw-advanced-table .schedule-flat-dark-blue th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-dark-blue td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-dark-blue td.content {
    color: #fafafa;
    background-color: #4b77be;
}
.lptw-advanced-table .schedule-flat-dark-blue td.content:hover {
    background-color: #19b5fe;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-dark-blue tr:hover {
    background-color: #d0d0d0;
}
/* 4.6 Flat Light Blue */

.lptw-advanced-table .schedule-flat-light-blue th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-light-blue td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-light-blue td.content {
    color: #fafafa;
    background-color: #22a7f0;
}
.lptw-advanced-table .schedule-flat-light-blue td.content:hover {
    background-color: #19b5fe;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-light-blue tr:hover {
    background-color: #d0d0d0;
}
/* 4.7 Flat Yellow */

.lptw-advanced-table .schedule-flat-yellow th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-yellow td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-yellow td.content {
    color: #333333;
    background-color: #f3c13a;
}
.lptw-advanced-table .schedule-flat-yellow td.content:hover {
    background-color: #ffb61e;
    color: #111111;
}
.lptw-advanced-table .schedule-flat-yellow tr:hover {
    background-color: #d0d0d0;
}
/* 4.8 Flat Orange */

.lptw-advanced-table .schedule-flat-orange th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-orange td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-orange td.content {
    color: #fafafa;
    background-color: #ca6924;
}
.lptw-advanced-table .schedule-flat-orange td.content:hover {
    background-color: #f9690e;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-orange tr:hover {
    background-color: #d0d0d0;
}
/* 4.9 Flat Grey */

.lptw-advanced-table .schedule-flat-grey th {
    color: #555555;
    background-color: #eeeeee;
}
.lptw-advanced-table .schedule-flat-grey td {
    color: #404040;
}
.lptw-advanced-table .schedule-flat-grey td.content {
    color: #fafafa;
    background-color: #95a5a6;
}
.lptw-advanced-table .schedule-flat-grey td.content:hover {
    background-color: #757b75;
    color: #ffffff;
}
.lptw-advanced-table .schedule-flat-grey tr:hover {
    background-color: #d0d0d0;
}
